@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

body, .grid-2 {
    align-items: center;
}

main {
    background-color: hsl(244, 38%, 16%);
    max-width: 950px;

    border-radius: 0.5em;
    overflow: hidden;

    flex-direction: row;
}

.container {
    padding:  4rem 3rem;
    flex-direction: column;
    width: 50%;
}

body, main, .container, .grid-2 {
    display: flex;

}

body, .container {
    justify-content: center;
}

h1 {
    padding: 0 0 1.5rem;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

h4 + p {
    font-size: 0.6rem;
}

body,
.stat-numbers {
    color: white;
}

.heading {
    color: hsl(277, 64%, 61%);
}

.stats {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;

    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 0;
}

.grid-2 {
    background-color: hsl(277, 64%, 61%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 70%;
    
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 960px) {
    main, .container {
        width: 70%;
    }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
    main, .container {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    main {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
}

